@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
--White: hsl(0, 0%, 100%);
--Grey: hsl(0, 0%, 20%);
--Dark-Grey: hsl(0, 0%, 12%);
--Off-Black: hsl(0, 0%, 8%);
--Green: hsl(75, 94%, 57%);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: white;
  list-style-type: none;
}

main{
  height: 100vh;
  background-color: var(--Off-Black);
}

.card{
  background-color: var(--Dark-Grey);
  width: 380px;
  height: 610px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.profile{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile img{
  width: 90px;
  border-radius: 50%;
  margin-top: 40px;
  margin-bottom: 30px;
}

.profile h2{
  font-weight: 600;
  margin-bottom: 12px;
}

.profile #location{
  font-size: 14px;
  font-weight: 600;
  color: var(--Green);
  margin-bottom: 29px;
}

.profile p{
  font-size: 14px;
  font-weight: 400;
}

.links{
  width: 305px;
  margin: 0 auto;
  margin-top: 20px;
}

.links ul{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.links li{
  background-color: var(--Grey);
  border-radius: 10px;
  font-size: 14px;
  font-weight: 600;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.links li:hover{
  cursor: pointer;
  color: var(--Dark-Grey);
  background-color: var(--Green);
}

@media (max-width: 375px) {
  .card{
    width: 320px;
    height: 577px;
  }
  .links{
    width: 280px;
  }
  .links li{
    height: 44px;
  }
}