@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --White: hsl(0, 0%, 100%);
  --RoseWhite: hsl(330, 100%, 98%);
  --Eggshell: hsl(30, 54%, 90%);
  --LightGrey: hsl(30, 18%, 87%);
  --WengeBrown: hsl(30, 10%, 34%);
  --DarkCharcoal: hsl(24, 5%, 18%);
  --Nutmeg: hsl(14, 45%, 36%);
  --DarkRaspberry: hsl(332, 51%, 32%);
}

body {
  background-color: var(--Eggshell);
}

main {
  background-color: var(--White);
  margin: 0 auto;
  width: 735px;
  height: 1705px;
  margin-top: 115px;
  border-radius: 20px;
  padding: 40px;
}

main img {
  width: 655px;
  height: 300px;
  border-radius: 10px;
  margin-bottom: 40px;
}

main h1 {
  font-size: 40px;
  font-weight: 400;
  font-family: "Young Serif", serif;
  margin-bottom: 20px;
}

main p {
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--WengeBrown);
  line-height: 25px;
}

.preptime {
  height: 180px;
  background-color: var(--RoseWhite);
  padding: 27px;
  margin-top: 33px;
  border-radius: 10px;
}

.preptime h3 {
  font-family: "Outfit", sans-serif;
  color: var(--DarkRaspberry);
  line-height: 150%;
  margin-bottom: 10px;
  font-weight: 600;
}

.preptime ul,
main ul,
#numberedOL {
  margin-left: 15px;
}

.preptime li {
  font-family: "Outfit", sans-serif;
  color: var(--WengeBrown);
}

.preptime li::marker {
  color: var(--DarkRaspberry);
  font-size: 13px;
}

main h2 {
  margin-top: 30px;
  margin-bottom: 20px;
  color: var(--Nutmeg);
  font-weight: 400;
  font-family: "Young Serif", serif;
}

main li {
  font-family: "Outfit", sans-serif;
  line-height: 150%;
  padding-left: 19px;
  color: var(--WengeBrown);
  margin-top: 10px;
}

main li::marker {
  color: var(--Nutmeg);
  font-size: 13px;
  padding: 50px;
}

hr {
  margin: 25px 0px;
  border: 1px solid var(--LightGrey);
}

#numberedOL::marker {
  font-weight: 800;
  font-family: "Outfit", sans-serif;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  padding: 12px;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  border-bottom: 1px solid var(--LightGrey);
}

#vals,
#Lastvals {
  color: var(--Nutmeg);
  font-weight: 600;
}

#LastName,
#Lastvals {
  border: none;
}

/* 
font-family: "Young Serif", serif;
font-family: "Outfit", sans-serif; 
*/
